body {
    margin: 20px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 300px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 55%; /* Было 45% */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.td-code1, .td-code2, .th-code1, .th-code2 {
    text-align: center;
    width: 5%;
}

.td-num, .th-num {
    text-align: center;
    width: 0%; /*Было 1%*/
}

.th-name, .td-name {
    width: 10%;
}

/* Стили для меню и кнопок */
button {
    padding: 10px 20px;
    margin: 10px; /*был выключен*/
    font-size: 16px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button:hover {
    background-color: #e0e0e0;
}

#menu {
    text-align: center;
}

#searchContainer, #fullListContainer {
    display: none;
}

#backButtonSearch, #backButtonFull {
    margin: 10px;
}

/* Стили для строки поиска и кнопки очистки */
.search-wrapper {
    position: relative;
    display: inline-block;
}

#searchInput {
    padding-right: 30px; /* Место для кнопки очистки */
}

#clearSearch {
    position: absolute;
    right: 5px;
    transform: translateY(0%) translateX(11%);
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    padding: 7px 10px;
    margin: 0;
}

#clearSearch:hover {
    color: #f00;
}

/* Медиа-запросы под разные устройства */

/* @media (min-width: 1024px) and (max-width: 1270px) {

}

@media (min-width: 1024px) and (max-width: 1270px) {

}

@media (min-width: 1024px) and (max-width: 1270px) {

} */
/*Прочие настройки*/
@media (min-width: 901px) and (max-width: 1270px) {
  table {
      width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  table {
      width: 90%;
  }
}

@media (min-width: 641px) and (max-width: 767px) {
    table {
        width: 90%;
    }
}

@media (min-width: 583px) and (max-width: 640px) {
    table {
        width: 100%;
    }
}

@media (min-width: 425px) and (max-width: 582px) {
    #backButtonSearch {
        margin: 0;
        margin-bottom: 15px;
        margin-right: 20px;
    }
    .section h2 {
        font-size: 21px;
    }
    table {
        width: 100%;
    }
    .td-num, .th-num {
        font-size: 16px;
    }
    .td-code1, .td-code2 {
        width: 4%;
        font-size: 17px;
    }

    .th-code1, .th-code2 {
        width: 4%;
        font-size: 16px;
    }

    .th-name {
        width: 15%;
        font-size: 16px;
    }

    .td-name {
        font-size: 17px;
    }
}
