/* table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px black solid;
  padding: 8px;
  text-align: left;
}

body { 
  font-family: Arial, sans-serif;
  margin: 20px; 
}
        
input { 
  margin-bottom: 10px; 
  padding: 8px; 
  width: 300px; 
}

.section { 
  margin-bottom: 20px; 
}
        
.section h2 { 
  margin-bottom: 10px; 
}
        
table { 
  border-collapse: collapse; 
  width: 100%; 
}
        
th, td { 
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: left; 
}
        
th { 
  background-color: #f2f2f2; 
}
        
tr:nth-child(even) { 
  background-color: #f9f9f9; 
}*/

/* table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px black solid;
  padding: 8px;
  text-align: left;
} */
/*
body {
  -font-family: Arial, sans-serif; 
  margin: 20px;
  -background-color: rgb(17 74 130 / 10%);
}
        
input { 
  margin-bottom: 10px; 
  padding: 8px; 
  width: 300px; 
}

.section { 
  margin-bottom: 20px; 
}
        
.section h2 { 
  margin-bottom: 10px; 
}
        
table {
  border-collapse: collapse;
  width: 45%;
}
        
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  -width: 15%;
}
        
th { 
  background-color: #f2f2f2; 
}
        
tr:nth-child(even) { 
  background-color: #f9f9f9; 
}

.td-code1, .td-code2, .th-code1, .th-code2 {
    text-align: center;
    width: 5%;
}

.td-num, .th-num {
    text-align: center;
    width: 1%;
}

.th-name, .td-name {
    width: 10%;
}*/ /* старый код */

body {
    margin: 20px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 300px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid red; /* Для отладки */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    border: 1px solid blue; /* Для отладки */
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.td-code1, .td-code2, .th-code1, .th-code2 {
    text-align: center;
    width: 20%;
}

.td-num, .th-num {
    text-align: center;
    width: 5%;
}

.th-name, .td-name {
    width: 30%;
}

/* Стили для меню и кнопок */
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button:hover {
    background-color: #e0e0e0;
}

#menu {
    text-align: center;
}

#searchContainer, #fullListContainer {
    display: none;
}

#backButtonSearch, #backButtonFull {
    margin-top: 20px;
}
